.pagebg{
    background-color: lightgrey;
}
.first{
    background-color:darkslategrey;
    color: white;
    text-align: center;
    height: 30%;
    padding: 10px;    
}

.name{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.boader{
    border-radius: 15px;
    background-color:honeydew; 
    padding: 1%;
    margin: 1px; 
}

.image_box {
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

.image_box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: black 0px 0px 10px;
}

footer {
    color: rgb(50, 50, 50);
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    width: 100%;
}

.navbar {
    justify-content: center;
    background-color: darkslategrey;
    padding: 10px 0;
    margin-top: 10px;
}   
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

